.bordered {
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    border-color: #ddd; 
    border-style: solid;
}
#addStudent {
	margin-bottom: 10px;
}
#studentEditPane {
	margin-top: 5%;
}
.submitButtons button {
	margin-bottom: 10px;
}
input.ng-invalid {
	border-color: red;
}
.pageHeader {
	border-bottom: 1px solid #ddd;
}